# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Optional; Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=

# The ID of your GitHub App
APP_ID=

# Either of them should be present; the key has precedence over the file path
PRIVATE_KEY=
PRIVATE_KEY_PATH=

# can be generated with `openssl rand -base64 32`
WEBHOOK_SECRET=
